---
---

<div class="sidebar glass">
  <h3>Recent Posts</h3>
  <ul>
    <li><a href="/blog/template-post-1">Template Post 1</a></li>
    <li><a href="/blog/template-post-2">Template Post 2</a></li>
  </ul>
</div>

<style>
  .sidebar {
    padding: 1em;
    border-radius: 8px;
  }
</style>
